{% extends "board/base.html" %} {% block content %}
<!-- End: Navigation Clean -->
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>순번</th>
          <th>제목</th>
          <th>작성자</th>
          <th>조회수</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        {% for data in info %}
        <tr>
          <td>{{ data.id}}</td>
          <td><a href="../detail/{{ data.id}}">{{ data.title}}</a></td>
          <td>{{ data.user}}</td>
          <td>{{ data.hit_cnt}}</td>
          <td>{{ data.date}}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
  <nav
    class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center"
  >
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous"
          ><span aria-hidden="true">«</span></a
        >
      </li>
      {% for i in page_range %}
      <li class="page-item">
        <a class="page-link" href='{% url "board:board" %}?page={{ i }}'
          >{{ i }}</a
        >
      </li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"
          ><span aria-hidden="true">»</span></a
        >
      </li>
      <a href="{%url 'board:write' %}" class="btn btn-primary" type="button"
        >글쓰기</a
      >
    </ul>
  </nav>
</div>
{% endblock %}
