{% extends 'board/base.html'%}
{% load static %}
{% block content %}
<!-- Start: Article Clean -->
    <section class="article-clean">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <!-- Start: Intro -->
            <div class="intro">
              <h1 class="text-center">Your Wonderful Article Title</h1>
              <!-- Start: Date and Author -->
              <p class="text-center">
                <span class="by">by</span> <a href="#">Author Name</a
                ><span class="date">Sept 8th, 2016 </span>
              </p>
              <!-- End: Date and Author --><img
                class="img-fluid"
                src="{% static 'img/desk.jpg' %}"
              />
            </div>
            <!-- End: Intro --><!-- Start: Text -->
            <div class="text">
                <p>ㅡㅡㅡㅡㅡㅡㅡ</p>
                <p>제목 : {{ board.title }}</p>
                <p>작성자 : {{ board.user }}</p>
                <p>글쓴 날짜 : {{ board.date}}</p>
                <p>글 내용 : {{ board.content }}</p>
                <img src='/media/{{borad.image.url}}'/>
                <a href="#" class="btn btn-primary" type="button">이전</a>
                <a href="#" class="btn btn-primary" type="button">다음</a>
                {% if user.username == data.user_id %}
                <a href="#" class="btn btn-primary" type="button">수정</a>
                {% else %}
                {% endif%}
              </div>
            <!-- End: Text -->
          </div>
        </div>
      </div>
    </section>
 {% endblock %}