{% extends 'board/base.html' %}
{% load static %}

{% block content %}
<!-- Start: Article Clean -->
    <section class="article-clean">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <!-- Start: Intro -->
            <div class="intro", style = 'text-align:center;'>
              <h1 class="text-center"><strong>또 하나의 디지털 자산</strong></h1>
              <img
                class="img-fluid"
                src="{% static 'img/NFT.jpeg' %}"
              />
            </div>
            <!-- End: Intro --><!-- Start: Text -->
            <div class="text">
              <div style="text-align:center;">
                <p><b><i>NFT(Non-Fungible Token) 란?</i></b></p>
              </div>
              <p>
                대체불가토큰을 의미하며, 블록체인 기술을 통한 "<span style = "text-decoration: underline">정품 인증서</span>"
                로서의 역할을 가집니다.<br>
                NFT가 적용된 디지털 코텐츠는 일반적으로 희소성을 가진 고유한 자산으로 인식되며<br>
                토큰을 통해 해당 작품의 소유권과 거래 이력을 확인 할 수 있습니다.<br>
              </p>
            </div>
            <!-- End: Text -->
          </div>
        </div>
      </div>
    </section>
    <!-- End: Article Clean -->
  {% endblock %}