{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>main</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  </head>
  <body>
    <!-- Start: Navigation Clean -->
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
      <div class="container">
        <a class="navbar-brand" href="{% url 'board:main' %}">NFT 커뮤니티</a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <nav class="navbar navbar-light navbar-expand-md">
          <div class="container-fluid">
            <button
              data-bs-toggle="collapse"
              class="navbar-toggler"
              data-bs-target="#navcol-2"
            >
              <span class="visually-hidden">Toggle navigation</span
              ><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-2">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'board:notice' %}">공지사항</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'board:board' %}">게시판</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'board:mypage' %}">마이페이지</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="#">{{user.username}}님</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">register</a></li>
            {% endif%}
          </ul>
        </div>
      </div>
    </nav>
    <!-- End: Navigation Clean --><!-- Start: Article Clean -->
    <section class="article-clean">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <!-- Start: Intro -->
            <div class="intro", style = 'text-align:center;'>
              <h1 class="text-center"><strong>또 하나의 디지털 자산</strong></h1>
              <img
                class="img-fluid"
                src="{% static 'img/NFT.jpeg' %}"
              />
            </div>
            <!-- End: Intro --><!-- Start: Text -->
            <div class="text">
              <div style="text-align:center;">
                <p><b><i>NFT(Non-Fungible Token) 란?</i></b></p>
              </div>
              <p>
                대체불가토큰을 의미하며, 블록체인 기술을 통한 "<span style = "text-decoration: underline">정품 인증서</span>"
                로서의 역할을 가집니다.<br>
                NFT가 적용된 디지털 코텐츠는 일반적으로 희소성을 가진 고유한 자산으로 인식되며<br>
                토큰을 통해 해당 작품의 소유권과 거래 이력을 확인 할 수 있습니다.<br>
              </p>
            </div>
            <!-- End: Text -->
          </div>
        </div>
      </div>
    </section>
    <!-- End: Article Clean --><!-- Start: Footer Basic -->
    <footer class="footer-basic">
      <!-- Start: Social Icons -->
      <div class="social">
        <a href="#"><i class="icon ion-social-instagram"></i></a
        ><a href="#"><i class="icon ion-social-snapchat"></i></a
        ><a href="#"><i class="icon ion-social-twitter"></i></a
        ><a href="#"><i class="icon ion-social-facebook"></i></a>
      </div>
      <!-- End: Social Icons --><!-- Start: Links -->
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <!-- End: Links --><!-- Start: Copyright -->
      <p class="copyright">Company Name © 2022</p>
      <!-- End: Copyright -->
    </footer>
    <!-- End: Footer Basic -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
